body {
    background-attachment: fixed;
    background-image: url("Images/Background-Texture.JPG");
    background-size: cover;
    font-size: 100%;
    margin: 0;
}

.superscript {
    vertical-align: super;
}

nav {
    background-color: rgba(95, 95, 95, 0.8);
    float: left;
    padding-left: 0;
    width: 25%;
}

.nav-items {

    line-height: 2.5;
    list-style-type: none;
    font-family: "Comic Sans MS", Sans-serif;
    font-weight: bolder;
    padding: 0;
}

#settings {
    float: right;
    padding: 0.7em;
}

a {
    text-decoration: none;
    color: black;
    display: block;
    font-size: 1.3em;
    padding-left: 1em;
}

a:hover {
    background-color: rgb(90, 90, 90);
    border-left: 0.4em solid white;
    color: white;
    display: block;
    padding-left: 0.5em;
    font-size: 1.3em;
}

section {
    margin-left: 27%;
    margin-top: 4%;
    font-size: 1.2em;
}

header {
    text-align: center;
    background-color: rgba(95, 95, 95, 0.8);
    margin: 0;
    padding: 2.4em;
}

h1 {
    margin: 0;
}
