body {
    background-color: lightgray;
    font-size: 100%;
    margin: 0;
    font-family: "Comic Sans MS", Sans-serif;
    margin: 0;
}

header {
    background-color: black;
    color: lightgray;
    margin: 0;
    padding: 2em;
}

h1 {
    text-align: center;
    margin: 0;
}

nav {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

ul {
    margin: 0;
    display: block;
    background-color: darkblue;
    color: white;
    font-size: 1.4em;
    text-align: right;
    margin: 0;
    padding: 0.7em 0;
    list-style-type: none;
}

nav li {
    display: inline;
    padding: 1em 2em;
    margin: 0;
}