.center {
	color: white;
	text-align: center;
	background-color: rgba(106, 90, 205,0.8);
	margin: 0px;
}

#id1 {
	background-color: tomato;
	background-image: url("Images/Tree Image.gif");
	background-repeat: no-repeat;
	background-position: right bottom;
	background-attachment: fixed;
	background-size: 35% 60%;
    margin: 0px;
}

.large {
	font-size: 130%;
	background-color: rgba(60, 179, 113,0.8);
	margin-right: 35%;
	padding: 1em;
}

h1.center {
	border-bottom: 20px double tomato;
	border-top: 20px double tomato;
	padding: 0.5em;
}